* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    font-family: 'Kulim Park', sans-serif;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tutto-schermo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1,
h2 {
    margin-bottom: 20px;
    font-family: 'Concert One', sans-serif;
    font-size: 2.5em;
    color: #9e1602;
    text-shadow: #0481b3 2px 2px;
}

input {
    padding: 10px;
    width: 90%;
}

#response {
    position: relative;
    top: 15px;
    left: 10px;
    height: 40px;
}

#paese {
    font-size: 2.5em;
    font-family: 'Concert One';
    font-weight: bolder;
}

#description {
    font-size: 2em;
    font-weight: bold;
}

#icon {
    margin: 10px;
    align-self: center;
}

#show-more {
    display: none;
    min-height: 100vh;
}

#plus-icon,
#negative-icon {
    margin: 10px;
    height: 32px;
}

table {
    min-height: 90vh;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: #87ceeb;
}

#temp {
    font-family: 'Concert One';
    font-size: 2em;
}

td {
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
}

.p-vento {
    font-size: 2em;
    font-weight: bold;
}

header,
main,
footer {
    flex-shrink: 0;
}

footer {
    padding: 5px;
    text-align: center;
    background-color: lightgray;
}

footer>a {
    text-decoration: none;
}