* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #253E50;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: center;
}


/*main>primo piano, dettagli, footer*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*info apertura app*/

#primo-piano {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    min-height: 100vh;
}


/*header*/

header {
    color: #fff;
    text-align: center;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
}

.icon {
    margin: 10px;
    height: 40px;
}


/*sezione di input*/

input {
    width: 55vw;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    border-style: none;
}

input:focus {
    outline: none;
}

.input {
    display: flex;
    justify-content: space-between;
}

#save {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
}


/*temperatura e vento*/

#weather {
    height: 150px;
    width: 150px;
}


/*tabella e icona meno*/

#dettagli {
    display: none;
}

#posizionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
}

table {
    min-height: 88vh;
    width: 95vw;
}

td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    color: #fff;
}


/*footer*/

footer {
    width: 100vw;
    text-align: center;
    background-color: #eeeeee;
}


/*testo generale*/

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p,
td {
    font-size: 1.7em;
}

#temp {
    font-size: 3em;
    font-weight: bolder;
}

@media only screen and (max-width: 499px) {
    #info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 3px;
        min-height: 55vh;
    }
    #info-temperatura,
    #info-vento {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 500px) {
    #info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 3px;
    }
    #info-temperatura,
    #info-vento {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 55vh;
    }
}