* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
    background-color: rgba(185, 211, 254, 0.5);
    display: flex;
    flex-direction: column;
}


/*disposizione*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90vh;
}

#table {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgba(70, 70, 70, 0.75);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

#hide-table {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.5em;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
}

table {
    min-height: 100%;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 1.5em;
}

tr:nth-child(odd) {
    background-color: rgba(70, 70, 70, 1);
}

td {
    color: #fff;
    text-align: center;
}

#input {
    align-self: center;
}

#info {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 75vh;
    align-items: center;
}

#dettagli {
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    align-items: baseline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: flex-end;
    margin-top: 10px;
    background-color: rgba(185, 211, 254, 1);
}


/*icone*/

#response {
    position: relative;
    top: 10px;
    left: 7px;
    height: 30px;
}

.icon {
    height: 32px;
}

#humidity-icon {
    position: relative;
    top: 7px;
}

#wind-icon {
    position: relative;
    top: 13px;
    margin-right: 7px;
    font-size: 40px;
}

#view-icon {
    position: relative;
    top: 10px;
    margin-left: 5px;
}

#barometro {
    position: relative;
    top: 10px;
}


/*abbellimenti*/

#background-weather {
    display: none;
}

#show-table {
    font-size: 1.7em;
    cursor: pointer;
}

input {
    padding: 8px;
    width: 75vw;
}

#paese {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
}

#id-paese {
    font-size: 1em;
}

#i-size {
    margin: 20px;
    font-size: 100px;
}

#description {
    font-size: 1em;
}

#temperatura {
    font-size: 2.5em;
    font-weight: 500;
}

#logoSito {
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
}

@media only screen and (min-width: 900px) {
    #background-weather {
        display: block;
        z-index: -1;
        font-size: 30vh;
        position: absolute;
        left: -50px;
        color: rgba(0, 0, 0, 0.1);
    }
    #paese {
        font-size: 3em;
    }
    #id-paese {
        font-size: 1em;
    }
    #description {
        font-size: 1.5em;
    }
    #temperatura {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1024px) {
    #background-weather {
        font-size: 70vh;
        top: -80px;
        left: -60px;
    }
    #paese {
        font-size: 3.5em;
    }
    #id-paese {
        font-size: 1.5em;
    }
    #description {
        font-size: 2em;
    }
    #temperatura {
        font-size: 3.5em;
    }
}